<form action="./login" method="post">
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required> <br>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required><br>
    <input type="submit" value="login">
  </div>

  <a href="./signup">Sign Up</a>
</form>