<form action="./login" method="post">
  <p>Register</p>
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required> <br>
  </div>

  <a href="./signup">Sign Up</a>
</form>