<form action="./signup" method="post">
  <p>Register</p>
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" required> <br>
    
    <input type="submit" value="login">
    <input type="hidden" name="signature" value="">
    <input type="hidden" name="hexPublicKey" value="">
  </div>
</form>

<script src="elliptic.js"></script> 
<script> 
	
</script>